<input type="radio" class="b-product-subproducts_item-control js-icons-switcher" name="product_data[collection][81205]"
    value="81197" checked="checked" data-has-discount="0" data-price="630" data-label="" data-tracking="D"
    data-in-stock="100" data-amount="0" data-stock-amount-with-min-expiration-date="0" data-stock-min-expiration-date=""
    data-article="1077041" data-max_qty="0" data-amount_in_cart="0" data-variant="01 Hey Nude!"
    data-uri="%2Fbourjois%2Frouge-edition-03-81197.html" data-has_access="1" data-delivery_date=""
    data-available-in-pudra-point="0" data-revoplus-payment-available="0">