@import "vars"

@media only screen and (max-width : 1350px)
	.slider-carousel.owl-theme .owl-nav
		display: none
	.slider-carousel.owl-theme .owl-nav.disabled+.owl-dots
		display: block

@media only screen and (max-width : 1150px)
	.products-list__wrapper
		margin-left: -10px
		margin-right: -10px
	.products-list__product
		flex-basis: 31%
		width: 31%
		margin-bottom: 20px
		margin-left: 10px
		margin-right: 10px
	.navigation__inner-navigation
		left: 0
	.region-modal
		padding-right: 0 !important
	.region-modal__dialog
		margin-top: 0
	.person__pesron-default-img
		font-size: 80px
	.user-data__address, .user-data__person
		flex-basis: 100%
		width: 100%
	.user-address__form
		padding-left: 45px
	.person__birthday-and-gender,
	.person__controll
		flex-basis: 82%
		width: 82%
	.user-address__title
		padding: 0 0 25px 45px
		margin: 25px 0 25px 0
	.user-address__bottom
		margin-top: 100px
	.user-address__select-house
		justify-content: flex-start
	.user-address__body, .user-address__house
		margin-right: 20px

@media only screen and (max-width : 992px)
	.review-modal__subtitle
		font-size: 15px
		margin-right: 15px
	#full-stars-example-two .rating__icon--star:before
		font-size: 23px
	#full-stars-example-two .rating__label:not(:last-child)
		padding-right: 17px
	.review-modal__info
		font-size: 13px
		margin-bottom: 10px
	.review-modal__textarea-group:not(:last-child)
		margin-bottom: 24px
	.review-modal__label
		font-size: 11px
	.review-modal__second-info
		font-size: 12px
	.review-modal__btn
		font-size: 15px
	.review-modal__content
		border-radius: 0
		border: none
	.review-modal__header
		padding: 19px 30px
	.review-modal__close::before
		font-size: 18px
	.review-modal__dialog
		margin: 0
		width: 100%
		max-width: 100%
	.review-modal__content-form
		padding: 0 75px
	.grid-images__wrapper
		justify-content: center
	.grid-images__layout
		margin-left: 10px
		margin-right: 10px
		flex-basis: 32%
		width: 32%
	.favorites__separator-title
		background: #F78C9F
		margin-top: 10px
		margin-bottom: 25px
		color: #fff
		font-size: 15px
		margin-left: -20px
		margin-right: -20px
	.products-list__product
		flex-basis: 30.5%
		width: 30.5%
		margin-bottom: 20px
		margin-left: 10px
		margin-right: 10px
	// user-orders 992px
	.orders__body
		padding: 15px 30px
	.notlogged__title
		padding-left: 0
		text-transform: unset
		text-align: center
	.notlogged__socials
		justify-content: center
	.notlogged__body
		margin: 0 auto
		text-align: center
	.user-address__street
		margin-right: 10px
	.user-address__select-house
		margin-left: 0
		flex-basis: 66%
		width: 66%
	.user-data__person
		order: 1
	.user-data__bonus-account
		order: 2
	.user-data__address
		order: 3
	.person__title
		border-bottom: 0
		padding: 0
		margin-bottom: 25px
		text-transform: unset
	.person__img-wrapper
		margin-left: 0
		order: 1
	.person__important-data
		flex-basis: 226px
		width: 226px
		order: 2
		flex-direction: column
	.person__form-input-group
		width: 100%
		flex-basis: 100%
	.person__controll
		align-items: flex-start
		order: 3
		flex-basis: 130px
		width: 130px
		margin-left: 63px
		flex-direction: column
	.person__birthday-and-gender
		flex-basis: 100%
		width: 100%
	.person__datepicker-group
		display: flex
		align-items: center
	.person__gender-title,
	.form-datepicker-group__label
		flex-basis: 125px
		width: 125px
		margin-right: 0
	.user-address__title
		padding-left: 0
		border-bottom: 1px solid #e7e7e7
		text-transform: unset
	.person__btn-change:not(:last-child)
		margin: 0 0 20px 0
	.person__birthday-and-gender
		order: 4
	.user-data__wrapper
		padding: 55px 30px
	.bonus-account__wrapper
		padding: 0
		justify-content: space-between
		padding-bottom: 25px
		border-bottom: 1px solid #E7E7E7
	.bonus-account__cart, .bonus-account__balans, .bonus-account__discount
		flex-basis: 32.5%
		width: 32.5%
		margin-right: 0
		margin-left: 0
	.bonus-account__title
		padding: 25px 0 25px 0
		border-top: 1px solid #E7E7E7
		border-bottom: 0
		margin-bottom: 0
		text-transform: unset
	.main-filter
		display: none
	.filter-with-tags
		display: none
	.user-address__form
		padding: 0
		justify-content: flex-start
	.user-address__country-and-city
		justify-content: flex-start
	.user-address__select-country
		margin-right: 10px
	.user-address__select-city, .user-address__select-country, .user-address__street
		flex-basis: 32.5%
		width: 32.5%
	.user-address__bottom
		flex-basis: 100%
		width: 100%
		display: flex
		justify-content: center
		margin-left: 0
		margin-right: 0
		margin-top: 40px
	.user-address__house, .user-address__body
		flex-basis: 23.5%
		width: 23.5%
		margin-right: 10px
	.bonus-account__fields
		width: 100%
		flex-basis: 100%
	.person__important-data
		padding-bottom: 0
	.person__gender
		margin-bottom: 25px
	.user-address__btn
		font-size: 10px
		min-width: 190px
		max-height: 35px
	// product
	.products-list__product
		display: flex
		flex-direction: column
		&:hover
			.product__footer
				box-shadow: none
	.product__footer
		position: static
		opacity: 1
		visibility: visible
		z-index: 2
		bottom: 0
		margin-top: auto
	// .error-page 992px
	.error-page__title
		font-size: 200px
	.error-page__descr
		font-size: 24px
		margin-bottom: 35px
	.deep-navigation__item
		flex-basis: 170px
		width: 170px
	.list-with-title__title
		font-size: 14px
	.list-with-title__link
		font-size: 13px
	.footer__wrapper
		flex-wrap: wrap
	.deep-navigation__item:not(:last-child)
		border-right: 0
	.footer__contact-list,
	.footer__socials-with-payment,
	.footer__navigation-users,
	.footer__navigation-main
		flex-basis: 50%
		width: 50%
		padding-left: 20%
	.footer__contact-list
		order: 1
	.footer__navigation-users
		order: 2
		margin-bottom: 25px
	.footer__socials-with-payment
		order: 3
	.footer__navigation-main
		order: 4
	.contact-list__phone
		font-weight: 700
	.slider-carousel__item
		height: 193px
	.slider-carousel.owl-theme .owl-nav.disabled+.owl-dots
		margin-top: 0
		top: 10px
		position: relative
	// basket 992px
	.promo-list__title
		font-size: 	10px
	.promo-list__btn
		font-size: 9px
	.promo-list__subtitle
		font-size: 8px
	.basket-list__img
		height: 90px
		width: 90px
	.basket-list__name
		font-size: 14px
	.basket-list__descr
		font-size: 14px
	.basket-counter
		height: 30px
	.basket-list__price
		font-size: 16px
		white-space: nowrap
		margin-right: 20px
	.promo-list__input,
	.payment__title,
	.basket-counter__input,
	.contacts__title,
	.delivery__title,
	.bonus__title,
	.basket-list__tag
		font-size: 13px
	.form-input-group__label
		font-size: 9px
	.form-radio-group__input:checked+.form-radio-group__label,
	.form-radio-group__label,
	.form-input-group__input,
	.time__descr, .time__title,
	.bonus__subtitle,
	.bonus__btn
		font-size: 11px
	.address__text-info
		flex-basis: 100%
		width: 100%
		font-size: 7px
	.promo-list__btn
		min-width: 130px
		min-height: 30px
	.address__form-group-comment
		width: 90%
		flex-basis: 90%

@media only screen and (max-width : 768px)
	// user-orders 768px
	.orders__header--shadow, .orders__wrapper
		box-shadow: none
	.orders__header-tr1,
	.orders__header-tr2
		border-bottom: 0
		background-color: #fff
	.orders__header-tr1
		padding: 25px 30px 5px 30px
	.orders__header-tr2
		padding: 0px 30px 5px 30px
	.orders__header-title,
	.orders__header-subtitle
		text-align: left
	.orders__body-title,
	.orders__body-subtitle
		color: rgba(30, 30, 31, .6)
		font-size: 13px
	.orders__show-more
		padding: 10px 30px
		font-size: 13px
	.orders__body
		border-bottom: 0
		position: relative
		&::before
			content: ""
			position: absolute
			bottom: 0
			left: 30px
			right: 30px
			border-bottom: 1px solid #E7E7E7
	.orders__pay
		padding-left: 30px
		padding-right: 30px
	.orders__pay-title
		font-size: 13px
		margin-right: 10px
	.orders__pay-summ
		font-size: 14px
		font-weight: 700
	.orders-table.flexible
		.orders-table__head
			display: block
			.orders-table__tr
				display: block
				background-color: #fff
			.orders-table__th
				display: block
				padding-left: 30px
				padding-right: 30px
				color: #AEAEAE
				font-size: 13px
				font-weight: 700
			.orders-table__th.small:not(:nth-child(1))
				display: none
				letter-spacing: 0.04em
		.orders-table__body
			display: block
			.orders-table__tr
				padding-left: 30px
				padding-right: 30px
				display: flex
				align-items: center
				justify-content: space-between
			.orders-table__th
				display: block
				padding: 0
	.orders-table__counter-simple-count
		display: none
	.orders-table__tag
		order: 1
		line-height: 17px
		margin-bottom: 5px
	.orders-table__name
		order: 2
		line-height: 17px
		margin-bottom: 10px
	.orders-table__descr
		display: flex
		order: 3
	.orders-table__th
		padding-left: 30px
		padding-right: 30px
	.orders-table__img
		width: 85px
		margin-right: 20px
	.orders__content
		display: none
		position: relative
		padding-bottom: 10px
		&::before
			content: ""
			position: absolute
			bottom: 0
			left: 30px
			right: 30px
			border-bottom: 1px solid #E7E7E7
	.orders__content
		padding-bottom: 30px
	// user-cabinet 768px
	.main__img-cabinet
		background: #fff
	.notlogged__title
		padding-bottom: 20px
		border-bottom: 1px solid #363636
	.notlogged__title
		margin-bottom: 20px
	.notlogged__forgot-btn
		font-weight: 700
	.notlogged__footer
		flex-direction: column
	.notlogged__btn-enter
		margin: 0 0 30px 0
	.user-address__select-house
		flex-basis: 65%
		width: 65%
	.person__controll
		margin-left: auto
	.main.main--user-cabinet .main__wrapper
		padding: 0
	.user-data
		box-shadow: none
		border-radius: 0
	.user-data__wrapper
		padding: 20px 30px
	.user-address__title
		margin-bottom: 0
		border-bottom: 0
	.person__title,
	.bonus-account__title,
	.user-address__title,
	.person__btn-change
		font-size: 13px
	.form-datepicker-group__label, .person__gender-title,
	.form-gender-group__label
		font-size: 11px
	.bonus-account__title
		padding-bottom: 20px
	.region-modal__list
		padding-top: 0
	.region-modal__title
		text-transform: unset
	.user-address__bottom
		margin-top: 25px
	// select2 768px
	.region-form .select2-container .select2-selection--single
		height: 30px
	.region-form .select2-container--default .select2-selection--single .select2-selection__rendered
		line-height: 30px
		font-size: 10px
	.region-form .select2-container--default .select2-selection--single .select2-selection__arrow:before
		font-size: 14px
	.region-form__example-search-item.active
		color: #676666
	.region-form__example-search-item.active
		font-size: 14px
		color: #000
	.header-icon
		font-size: 23px
	.header__basket
		font-size: 28px
	.brands__item
		padding: 25px 35px 20px 35px
	.brands__letter
		flex-basis: 15%
		width: 15%
	.result-list__link
		font-size: 13px
	.result-list__link
		padding-bottom: 5px
	.search__head
		padding: 25px 35px
	.search__body
		padding: 25px 35px
	// products-pagination 768px
	.products-pagination__wrapper
		padding: 0
	.products-pagination
		box-shadow: none
		background: transparent
	.products-pagination__status
		font-size: 15px
		line-height: 22px
		color: #686868
	.products-pagination__link
		font-size: 18px
		line-height: 26px
		color: #363636
		border-bottom: 1px solid #000
	.products-list__wrapper
		margin-left: -10px
		margin-right: -10px
		justify-content: center
	.products-list__product
		margin-bottom: 25px
		margin-left: 10px
		margin-right: 10px
		max-width: 223px
		flex-basis: 223px
		width: 223px
	.product__name
		font-size: 11px
		line-height: 23px
	.product__descr
		font-size: 14px
		line-height: 20px
	.product__tag
		font-size: 10px
		line-height: 15px
	.product__price
		font-size: 15px
		line-height: 22px
	.product__colors
		margin: 5px 10px
	.product__btn-add
		font-size: 13px
		font-weight: 700
	// banner-info__wrapper 768px
	.banner-info__wrapper
		padding: 15px 20px 15px 20px
	.banner-info__description
		font-size: 13px
	.banner-info__img
		margin-right: 20px
	// basket 768px
	.basket-control__wrapper
		height: 60px
	.basket-control__total-pay
		font-size: 22px
		line-height: 60px
	.basket-check__wrapper
		padding-bottom: 0
	.basket-control__btn-pay
		font-size: 12px
	.address__form-group-comment
		width: 95%
		flex-basis: 95%
	.promo-list__item
		flex-basis: 100%
		width: 100%
		justify-content: space-between
	.basket__promo-list
		flex-wrap: wrap
	.promo-list__subtitle
		margin-right: auto
	.basket__left, .basket__right
		flex-basis: 100%
		width: 100%
	.basket__contacts
		flex-wrap: wrap
	.basket-list__item
		flex-wrap: wrap
		justify-content: flex-start
		position: relative
	.basket-list__img
		order: 1
		margin-right: 30px
	.basket-list__content
		order: 2
		flex-basis: 50%
	.basket-list__close
		position: absolute
		top: 20px
		right: 0
		order: 3
	.basket-list__counter
		order: 4
		margin-left: 120px
	.basket-list__price
		flex-basis: 30%
		margin-left: auto
		order: 5
	.basket-list__descr
		font-size: 12px
	.basket-list__tag
		font-size: 12px
	.basket-list__name,
	.basket-counter__input
		font-size: 14px
	.basket-list__counter
		margin-right: 20px
	// footer 768px
	.footer__contact-list, .footer__navigation-main, .footer__navigation-users, .footer__socials-with-payment
		padding-left: 15%
	.credits__wrapper
		flex-direction: column
		align-items: center
	.credits__main-info, .credits__second-info
		flex-basis: auto
	.credits__second-info
		min-width: auto
	.grid-item, .grid-sizer
		width: 33.3333%
	.credits__main-info, .credits__second-info
		font-size: 9px
	.credits__main-info, .credits__second-info
		text-align: center
	// header 768px
	.region__contacts-and-delivery
		display: none
	.region__wrapper
		justify-content: center
	.search-group.search-group--header,
	.header__user
		display: none
	.header__menu
		display: block
	.header__search
		display: block
		margin-right: 0
	.navigation
		display: none
	.main-fixed .header__arrow-up, .main-fixed .header__views
		display: none
	.main-fixed
		.header__search
			margin-right: auto
	.main-navigation.active .header__search.active
		margin-right: 30px
	.filter-form__btn-reset
		margin-right: 20px
	.filter-form__btn-reset, .filter-form__btn-show
		font-size: 12px
		min-width: 157px
		height: 40px
	// modals 768px
	.region-modal__cities
		flex-direction: column
		align-items: center
	.region-modal__form
		flex-basis: 100%
		width: 100%
	.region-modal__list
		padding-bottom: 80px
	.region-form__btn
		margin-right: 0
		margin-left: auto
	.region-modal__dialog
		border-radius: 0
	.region-modal__list
		flex-basis: 100%
		width: 100%
	.search-group__input::placeholder
		font-size: 14px

@media only screen and (max-width : 576px)
	.review-modal__second-info
		margin-bottom: 25px
	.review-modal__btn
		font-size: 11px
		padding: 0 23px
		min-width: auto
		min-height: 25px
		line-height: 1
	.review-modal__close:before
		font-size: 15px
	.review-modal__title
		font-size: 14px
	#full-stars-example-two .rating__icon--star:before
		font-size: 16px
	.review-modal__subtitle
		font-size: 13px
	.review-modal__subtitle,
	.review-modal__rate
		margin-bottom: 13px
	.review-modal__textarea-group:not(:last-child)
		margin-bottom: 15px
	#full-stars-example-two .rating__label:not(:last-child)
		padding-right: 11px
	.review-modal__body
		padding: 15px 20px 30px 20px
	.review-modal__content-form
		padding: 0
	.review-modal__header
		align-items: center
		padding: 12px 20px
	.review-modal__close
		padding: 0
		display: flex
		align-items: center
	.search-menu__wrapper
		height: 40px
	.search-group
		height: 25px
	.search-group__input
		height: 100%
		padding-top: 0
		padding-bottom: 0
		line-height: 2px
		font-size: 10px
	.region-modal__icon-car
		font-size: 22px
	.region-form__example-search-item.active,
	.region-form__example-search-item
		font-size: 10px
	.grid-images__layout
		flex-basis: 47%
		width: 47%
	.swiper-carousel__slide
		height: 45px
	.swiper-carousel.owl-theme .owl-nav [class*=owl-]
		top: 10px
	.main__bottom
		padding-top: 0
	.swiper-carousel__icon-nav
		font-size: 16px
	.swiper-carousel--cabinet.owl-theme .owl-nav [class*=owl-]
		top: 12px
	.swiper-carousel--cabinet .swiper-carousel__slide
		height: 45px
	.swiper-carousel--cabinet .swiper-carousel__item
		font-size: 11px
	.favorites__separator-title
		font-size: 12px
		margin-top: 0
		margin-bottom: 25px
		height: 35px
		line-height: 35px
	.product__btn-empty
		font-size: 9px
	// user-orders 576px
	.orders-table__content
		text-align: left
	.orders-table.flexible .orders-table__body .orders-table__tr
		flex-wrap: wrap
	.orders-table__tr:not(:first-child),
	.orders-table__tr:not(:last-child)
		margin-bottom: 15px
	.orders-table.flexible .orders-table__body .orders-table__th:first-child
		flex-basis: 100%
		width: 100%
		margin-bottom: 15px
	.orders-table__th.orders-table__counter-th
		margin-left: 100px
		margin-right: 25px
	.orders-table__th.orders-table__number-th
		margin-right: auto
	.orders__header
		display: flex
	.orders__header-tr1
		padding-top: 20px
		flex-basis: 40%
		width: 40%
		display: flex
		flex-direction: column
	.orders__header-tr2
		padding-top: 20px
		flex-basis: 60%
		width: 60%
		display: flex
		flex-direction: column
	.orders__header-title,
	.orders-table.flexible .orders-table__head .orders-table__th,
	.orders-table__descr
		font-size: 11px
	.orders__header-subtitle
		font-size: 11px
		font-weight: 700
		color: #AEAEAE
	.orders__show-more
		font-size: 11px
	.orders__body-subtitle, .orders__body-title
		font-size: 12px
	// .user-data 576px
	.notlogged__body,
	.notlogged__footer
		width: 210px
	.user-address__select-house
		flex-basis: 100%
		width: 100%
	.user-address__body, .user-address__house
		flex-basis: 20%
		width: 20%
		margin-right: 15px
		min-width: 97px
	.person__important-data
		flex-basis: 210px
		width: 210px
		margin-bottom: 5px
	.form-gender-group__label:before
		font-size: 21px
	.form-datepicker-group__label, .person__gender-title
		flex-basis: 100px
		width: 100px
	.bonus-account__title
		padding: 12px 0 18px 0
	.person__title
		margin-bottom: 20px
	.person__img-wrapper
		flex-basis: 52px
		width: 52px
		margin-right: 48px
	.person__pesron-default-img
		font-size: 60px
	.person__birthday-and-gender
		order: 3
	.person__controll
		flex-basis: 100%
		width: 100%
		order: 4
		margin-left: 0
		padding-bottom: 25px
		border-bottom: 1px solid #e7e7e7
	.user-address__title
		margin: 12px 0 15px 0
		border-top: 0
		padding-bottom: 0
	.user-data__bonus-account
		order: 2
	.user-data__address
		order: 3
	.brands__item
		padding: 20px 20px 15px 20px
	.brands__letter
		flex-basis: 20%
		width: 20%
	.brands__result-list
		column-count: 2
	.search__head
		padding: 25px 20px
	.search__body
		padding: 25px 20px
		font-size: 13px
	.bonus-account__fields
		flex-direction: column
		justify-content: flex-start
		align-items: flex-start
	.bonus-account__balans, .bonus-account__cart, .bonus-account__discount
		margin-bottom: 15px
		width: 210px
	.bonus-account__wrapper
		padding-bottom: 5px
	.user-address__country-and-city
		flex-direction: column
		align-items: flex-start
	.user-address__select-city, .user-address__select-country, .user-address__street
		width: 210px
		margin-left: 0
		margin-right: 0
		max-width: none
		flex-basis: auto
		margin-right: auto
	// products-pagination 576px
	.products-pagination__status
		font-size: 11px
		line-height: 16px
		padding-bottom: 5px
	.products-pagination__link
		font-size: 12px
		line-height: 18px
	.products-list__wrapper
		margin-left: -10px
		margin-right: -10px
		justify-content: center
	.products-list__product
		min-width: 157px
		flex-basis: 44%
		width: 44%
		margin-left: 10px
		margin-right: 10px
	.product__img
		margin-top: 20px
		height: auto
	.product__name
		font-size: 9px
		margin-bottom: 4px
		line-height: 19px
	.product__descr
		line-height: 16px
		font-size: 11px
		margin-bottom: 6px
	.product__price
		font-size: 12px
		line-height: 18px
	.product__tag
		font-size: 8px
	.product__footer
		padding-top: 0
	.product__body:before
		font-size: 9px
		width: 100px
		height: 18px
		line-height: 18px
	.product__btn-add,
	.product__btn-add.added
		font-size: 9px
		line-height: 100%
		padding: 0 10px
		min-height: 22px
		min-width: 96px
	// .error-page 992px
	.error-page__title
		font-size: 135px
		margin-bottom: 50px
	.error-page__descr
		font-size: 18px
		margin-bottom: 25px
	.error-page__btn
		font-size: 14px
		min-width: 140px
		min-height: 40px
	// basket-info 576px
	.basket-info
		left: 0
		right: 0
		z-index: 200
		border-radius: 0
		border-left: 0
		border-right: 0
		&__wrapper
			width: 100%
	.basket-info__descr, .basket-info__title
		font-size: 14px
	.tiny-basket__img
		width: 60px
		height: 60px
	.tiny-basket__name,
	.tiny-basket__tag, .tiny-basket__type
		font-size: 12px
	.tiny-basket__price
		font-size: 13px
	.basket-info__btn-submit
		font-size: 13px
		min-width: 140px
		min-height: 35px
	// basket 576px
	.basket-list__content
		margin-right: 0
		flex-basis: 70%
		width: 70%
	.region-list--padding
		padding-top: 20px
	.region-list__item
		flex-basis: 50%
		width: 50%
	.swiper-carousel--desktop
		display: none !important
	.swiper-carousel--mobile
		display: block !important
	.swiper-carousel__item
		font-size: 11px
	// footer 576px
	.footer__contact-list, .footer__navigation-main, .footer__navigation-users, .footer__socials-with-payment
		padding-left: 0
	// modal 576px
	.region-modal__close
		font-size: 15px
	.region-modal__header-wrapper
		padding: 10px 20px
	.region-modal__title
		color: #F78C9F
		white-space: nowrap
	.region-modal__body
		padding: 20px 20px 30px 20px
	.region-modal__title
		font-size: 14px
	.region-modal__text-with-icon
		font-size: 10px
		padding-bottom: 25px
	.modal-list__link
		font-size: 12px
		color: #000
	.region-modal__list
		max-width: 320px
		padding-bottom: 35px
	.modal-list__item
		flex-basis: 35%
		width: 35%
		padding-bottom: 15px
		text-align: center
	.region-form__status
		font-size: 7px
	.search-group.search-group--modal .search-group__input,
	.search-group.search-group--modal .search-group__input::placeholder,
	.search-list__link
		font-size: 10px
	.search-group__input::placeholder
		font-size: 10px
		line-height: 25px
	.search-list
		padding: 12px 15px
	.search-group.search-group--modal,
	.search-group.search-group--modal .search-group__input
		height: 30px
	.search-group__btn
		font-size: 15px
	.region-form__btn
		min-width: 110px
		min-height: 25px
		font-size: 11px

@media only screen and (max-width : 480px)
	.main-navigation.active .header__search.active
		margin-right: 15px
	.header__like.active
		margin-right: 10px
	// basket 480px
	.contacts__group
		flex-basis: 65%
		width: 65%
		&:not(:last-child)
			margin-bottom: 15px
	.basket-list__item
		align-items: flex-start
	.basket-list__close
		top: 0
		right: 0
	.basket-list__name
		font-size: 12px
	.basket-list__img
		margin-right: 15px
		width: 60px
		height: 60px
	.basket-list__counter
		margin: 10px 0
	.basket-list__counter,
	.basket-list__price
		flex-basis: 100%
		width: 100%
		margin-right: 0
		margin-left: auto
	// footer 480px
	.footer__wrapper
		justify-content: center
		align-items: center
		flex-direction: column
	.footer__contact-list
		text-align: center
	.contact-list__messengers
		justify-content: center
		margin-bottom: 20px
	.footer__navigation-users
		text-align: left
	.navigation-users__title,
	.navigation-main__title
		text-align: center
	.footer__navigation-main
		text-align: left
	.footer__socials-with-payment
		order: 4
	.socials-with-payment__title
		display: none
	.footer__navigation-main
		margin-bottom: 15px

@media only screen and (max-width : 420px)
	.review-modal__info,
	.review-modal__second-info
		font-size: 7px
	// header 420px
	.header__wrapper
		height: 55px
	.header-icon
		font-size: 17px
	.header__basket
		font-size: 22px
	.header__basket-counter
		bottom: -3px
		font-size: 9px
	.header__menu
		margin-right: 20px
	.header__title
		font-size: 22px
		&-heart
			margin: 0 5px
			font-size: 7px
	.site-title
		font-size: 22px
		&-heart
			margin: 0 5px
			font-size: 7px
	// masonry grid 420px
	.grid-item, .grid-sizer
		width: 50%
	// footer 420px
	.footer__wrapper
		padding-top: 20px
	.footer__contact-list, .footer__navigation-main, .footer__navigation-users, .footer__socials-with-payment
		min-width: 200px
	.filter-form__buttons
		display: flex
		justify-content: space-between
	.filter-form__btn-reset, .filter-form__btn-show
		min-width: 48%
		flex-basis: 48%
		min-height: 30px

@media only screen and (max-width : 375px)
	// breadcrumbs 375px
	.breadcrumbs-list__link
		font-size: 11px
	.breadcrumbs__current
		font-size: 12px
	// filter 375px
	.filter__select
		font-size: 13px
	// products 375px
	.product__body
		padding: 10px 13px 15px 12px
	.product__img
		height: 136px
	.product__name
		font-size: 9px
		line-height: 19px
	.product__descr
		font-size: 11px
		line-height: 16px
	.product__tag
		font-size: 8px
		line-height: 12px
	.product__price
		font-size: 12px
		line-height: 18px
	.product__btn-add
		padding: 6px 20px 6px
		font-size: 9px
	// header 375px
	.region-info__body
		width: 280px
	.header__menu
		margin-right: 10px
	.header__like
		margin-right: 10px
	.region__wrapper p,
	.region__btn
		font-size: 11px
	.slider__wrapper
		padding: 15px 20px
	.slider-carousel__item
		height: 188px
	.region-list__item
		flex-basis: 100%
		width: 100%
	.profile-menu__mail
		display: none
	// swiper 375px
	.swiper-carousel.owl-theme .owl-nav [class*=owl-]
		top: 10px
	.swiper-carousel__slide
		height: 45px
	// map 375px
	.region-modal__title
		font-size: 14px
	.region-modal__text-with-icon
		padding-bottom: 20px
	.modal-list__item
		padding-bottom: 20px
	.modal-list__link
		font-size: 12px
	// modals 375px
	.user-modal__dialog
		max-width: 280px
	.user-modal__link-entry,
	.user-modal__link-registration
		font-size: 12px