@import "vars"

@media only screen and (max-width : 1200px)
	/**/

@media only screen and (max-width : 992px)
	/**/

@media only screen and (max-width : 768px)
	/**/

@media only screen and (max-width : 576px)
	.region-list--padding
		padding-top: 20px
	.region-list__item
		flex-basis: 50%
		width: 50%
	.swiper-carousel--desktop
		display: none !important
	.swiper-carousel--mobile
		display: block !important
	.swiper-carousel__item
		font-size: 11px

@media only screen and (max-width : 420px)
	// header
	.header__wrapper
		height: 55px
	.header-icon
		font-size: 17px
	.header__basket
		font-size: 22px
	.header__basket-counter
		bottom: -3px
		font-size: 9px
	.header__menu
		margin-right: 20px
	.header__title
		font-size: 22px
		&-heart
			margin: 0 5px
			font-size: 7px
	.site-title
		font-size: 22px
		&-heart
			margin: 0 5px
			font-size: 7px
	// masonry grid
	.grid-item, .grid-sizer
		width: 50%
	// footer
	.socials-with-title__img
		width: 25px
	.socials__img
		width: 22px
	.socials-with-title
		display: none
	.socials-with-title--show-on-mobile
		display: block
	.payment-list
		display: none
	.payment-list--show-on-mobile
		display: block
	.footer__wrapper
		padding-top: 20px
	.footer__left,
	.footer__right
		width: 100%
		flex-basis: 100%
		text-align: center
	.socials
		justify-content: center
	.socials-with-title__list
		justify-content: center
	.footer__navigation-users,
	.footer__navigation-main
		max-width: 200px
		margin: 0 auto 25px auto
	.navigation-users__list,
	.navigation-main__list
		text-align: left
	.socials-with-title__title
		display: none

@media only screen and (max-width : 375px)
	// breadcrumbs
	.breadcrumbs-list__link
		font-size: 11px
	.breadcrumbs__current
		font-size: 12px
	// filter
	.filter__select
		font-size: 13px
	.products-head__btn
		font-size: 10px
		min-width: 110px
	// products
	.product__wrapper
		padding: 10px 13px 15px 12px
	.product__img
		height: 136px
	.product__name
		font-size: 9px
		line-height: 19px
	.product__descr
		font-size: 11px
		line-height: 16px
	.product__tag
		font-size: 8px
		line-height: 12px
	.product__price
		font-size: 12px
		line-height: 18px
	.product__btn-add
		padding: 6px 20px 6px
		font-size: 9px
	// header
	.header__menu
		margin-right: 10px
	.header__like
		margin-right: 10px
	.region__wrapper p,
	.region__btn
		font-size: 11px
	.slider__wrapper
		padding: 15px 20px
	.slider-carousel__item
		height: 188px
	.region-list__item
		flex-basis: 100%
		width: 100%
	.profile-menu__mail
		display: none
	// swiper
	.swiper-carousel.owl-theme .owl-nav [class*=owl-]
		top: 6px
	.swiper-carousel__slide
		height: 45px
	// map
	.region-modal__title
		font-size: 14px
	.region-modal__text-with-icon
		padding-bottom: 20px
	.modal-list__item
		padding-bottom: 20px
	.modal-list__link
		font-size: 12px
