 /* modal start
 */

.modal-list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    +reset-ul
    &__item
        text-align: left
        flex-basis: 30%
        width: 30%
        padding-bottom: 50px
        &:nth-last-child(2),
        &:nth-last-child(3),
        &:last-child
            padding-bottom: 0
    &__link
        font-size: 16px
        text-align: center
        letter-spacing: 0.04em
        color: #b3b3b3
        font-weight: 700
        &:hover
            color: #F78C9F
        &.active
            color: #F78C9F

.region-modal
    &.modal
    &__dialog
        background: #fff
        max-width: 1010px
        margin: 100px auto 0 auto
        border-radius: 4px
    &__content
        border-radius: 0
    &__header
        width: 100%
        border-bottom: 1px solid #adadad
        padding: 0
    &__header-wrapper
        max-width: 1065px
        width: 100%
        padding: 20px 40px
        display: flex
        justify-content: space-between
        align-items: center
        margin: 0 auto
        font-size: 17px
        letter-spacing: 0.04em
        color: #F78C9F
    &__title
        font-size: 17px
        font-weight: 700
        letter-spacing: 0.04em
        color: #1e1e1f
    &__close
        color: #F78C9F
        font-size: 19px
        opacity: 1
        &:hover
            color: #f24d69
    &__body
        max-width: 1065px
        margin: 0 auto
        width: 100%
        padding: 20px 40px
    &__text-with-icon
        font-size: 14px
        letter-spacing: 0.04em
        color: #AEAEAE
        font-weight: 700
        display: flex
        align-items: center
        padding: 5px 0 60px 0
    &__icon-car
        position: relative
        font-size: 22px
        color: #f78c9f
        margin-right: 20px
        &::before
            transform: rotateY(3.142rad)
    &__cities
        display: flex
        justify-content: space-between
        align-items: flex-start
    &__list
        flex-basis: 60%
        width: 60%
    &__form
        flex-basis: 40%
        width: 40%

.region-form
    &__btn
        background: #F78C9F
        border: none
        outline: none
        min-width: 176.41px
        min-height: 40px
        border-radius: 4px
        margin-top: 60px
        display: block
        margin-right: auto
        font-weight: 700
        letter-spacing: 1px
        text-transform: uppercase
        color: #fff
    &__status
        font-size: 14px
        letter-spacing: 0.04em
        text-transform: uppercase
        color: #F78C9F
        margin-bottom: 15px
        font-weight: 700


.filter-form
    background: #fff
    height: 100%
    &__wrapper
        max-width: 1065px
        padding: 0 20px
        margin: 0 auto
        min-height: 89vh
        display: flex
        flex-direction: column
    &__buttons
        margin-top: auto
        text-align: right
        display: flex
        justify-content: flex-end
    &__btn-reset
        border: 1px solid #F78C9F
        box-sizing: border-box
        border-radius: 4px
        outline: none
        background: transparent
        font-size: 15px
        letter-spacing: 0.04em
        text-transform: uppercase
        color: #F78C9F
        min-width: 250px
        min-height: 45px
        font-weight: 700
        margin-right: 48px
        display: inline-block
    &__btn-show
        font-weight: 700
        background: #F78C9F
        border-radius: 4px
        border: none
        outline: none
        font-size: 15px
        letter-spacing: 0.04em
        text-transform: uppercase
        color: #fff
        min-width: 250px
        min-height: 45px
        display: inline-block

.main-filter
    +reset-ul
    &__item
        padding: 16px 0
        border-bottom: 1px solid #e7e7e7
    &__link
        display: block
        font-size: 17px
        font-weight: 700
        letter-spacing: .04em
        color: #1e1e1f
        position: relative
        display: block
        &::after
            position: absolute
            right: 0
            content: "\e80a"
            color: #f78c9f
            font-family: "fontello"

.main-item
    display: flex
    border-bottom: 1px solid #e7e7e7
    height: 57.8px
    &__link
        display: flex
        flex-direction: column
        justify-content: center
    &__title
        font-size: 14px
        font-weight: 700
        letter-spacing: 0.04em
        color: #4B4B4B
    &__descr
        font-size: 15px
        letter-spacing: 0.04em
        color: #AEAEAE
    &__btn
        margin-left: auto
        border: none
        outline: none
        background: transparent
        font-size: 14px
        font-weight: 700
        letter-spacing: 0.04em
        text-decoration-line: underline
        color: #F68C9F
        margin-right: 20px
    &__icon-link
        display: flex
        align-items: center
        position: relative
        font-size: 17px
        font-weight: 700
        &::before
            position: absolute
            right: 0
            content: "\e80a"
            color: #f78c9f
            font-family: "fontello"

.filter-modal
    &.modal
        padding-right: 0 !important
        background: #fff
    &__dialog
        margin: 0
        max-width: 100%
    &__content
        border-radius: 0
        padding: 0
        border: none
    &__wrapper
        max-width: 1065px
        padding: 0 20px
        margin: 0 auto
        width: 100%
        display: flex
        justify-content: center
    &__header
        background: #F78C9F
        padding: 1rem 0
    &__title
        font-size: 17px
        letter-spacing: 0.04em
        text-transform: uppercase
        color: #FFFFFF
        margin-left: auto
    &__close
        margin-left: auto
        opacity: 1
        color: #fff
        font-size: 19px
        transition: all .3s ease
        &:hover
            opacity: .9
            color: #fff
    &__list

.user-modal
    &__dialog
        max-width: 320px
        margin: 50px auto 0 auto
    &__header
        display: flex
        justify-content: space-between
    &__link-entry
        font-weight: 700
        transition: all .3s ease
        font-size: 14px
        color: #888
        text-transform: uppercase
        position: relative
        &::before
            content: ""
            position: absolute
            bottom: -5px
            left: 0
            right: 0
            height: 0
            opacity: 0
            background: #f78c9f
            transition: all .3s ease
        &:hover
            color: #000
            &::before
                opacity: 1
                height: 1px
    &__link-registration
        font-weight: 700
        transition: all .3s ease
        font-size: 14px
        color: #888
        text-transform: uppercase
        margin-left: auto
        margin-right: 15px
        position: relative
        &::before
            content: ""
            position: absolute
            bottom: -5px
            left: 0
            right: 0
            height: 0
            opacity: 0
            background: #f78c9f
            transition: all .3s ease
        &:hover
            color: #000
            &::before
                opacity: 1
                height: 1px
    &__close
        opacity: 1
        margin-left: 0
        color: #f78c9f
        +reset-btn
    &__body
    &__title
        font-size: 15px
        letter-spacing: .04em
        color: #aeaeae
        font-weight: 500
    &__input
        border: 1px solid #adadad
        border-radius: 4px
        font-size: 14px
        color: #4b4b4b
        height: 40px
        width: 100%
        padding: 0 15px
        font-weight: 400
    &__footer
        padding: 1rem
        display: flex
        justify-content: space-between
        align-items: center
    &__btn-submit
        background: #f78c9f
        border: none
        outline: none
        min-height: 35px
        padding: 0 12px
        border-radius: 4px
        letter-spacing: 1px
        color: #fff
    &__link-lost
        font-size: 15px
        letter-spacing: .04em
        color: #aeaeae
        font-weight: 500