@import "part"
@import "normalize"
@import "libs"
@import "shafle"
@import "vars"
@import "fonts"

html
    scroll-behavior: smooth
    box-sizing: border-box

*, *::before, *::after
    box-sizing: border-box

body
    overflow-x: hidden
    font-family: $proxy
    font-weight: 400
    min-height: 100vh
    margin: 0
    padding: 0

h1,h2,h3,h4,h5,h6,p
    margin: 0

a
    color: #1B1414
    transition: all .2s ease

a:hover
    color: #000000
    text-decoration: none

.body-container
    display: flex
    flex-direction: column
    &.disable-y
        overflow-y: hidden

.site
    &-title
        display: inline-flex
        align-items: center
        font-size: 30px
        &-heart
            font-size: 9px
            margin: 0 10px
        &.disabled
            display: none
    &-description
        text-transform: uppercase
        letter-spacing: 4px
        display: block
        font-size: 13px
        color: #1E1E1F

.main-menu
    &__wrapper
        height: 0
        transition: all .5s ease
        max-width: 1240px
        margin: 0 auto
        visibility: hidden
        opacity: 0
        &.active
            opacity: 1
            visibility: visible
            padding: 15px 20px 65px 20px
            height: 100%

.menu-list
    transition: all .3s ease
    margin-bottom: 0
    visibility: hidden
    &.active
        visibility: visible
    &__item
        padding: 13px 0
        border-bottom: 1px solid #E7E7E7
    &__link
        display: block
        font-size: 15px
        line-height: 31px
        letter-spacing: 0.04em
        color: #1E1E1F
        font-weight: 600
        &::after
            content: "\e80a"
            font-family: "fontello"
            color: #CFCFCF
            position: absolute
            margin-left: 10px
            border: none
            transition: all .3s ease
        &[aria-expanded="true"]::after
            transform: rotate(90deg)
    &__inner-list
    &__inner-item
    &__inner-link
        display: block

.profile-menu
    padding: 0
    margin: 0
    list-style-type: none
    &__item
        padding: 13px 0
        display: flex
        align-items: center
        border-bottom: 1px solid #E7E7E7
    &__title
        font-size: 15px
        line-height: 31px
        letter-spacing: 0.04em
        color: #1E1E1F
        font-weight: 600
        margin-right: auto
    &__mail
        font-size: 15px
        text-align: right
        letter-spacing: 0.04em
        color: #CFCFCF
        margin-right: 20px
    &__btn
        border: none
        outline: none
        background: transparent
        font-size: 13px
        text-align: right
        letter-spacing: 0.04em
        color: #f78c9f
        text-decoration: underline
    &__link
        margin-right: auto
        font-size: 15px
        line-height: 31px
        letter-spacing: 0.04em
        color: #1E1E1F
        font-weight: 600
        display: block
        width: 100%

.breadcrumbs
    background-color: #F78C9F
    &__wrapper
        max-width: 1240px
        padding: 0 20px
        margin: 0 auto
    &-nav
    &-list
        padding: 0
        margin: 0
        display: flex
        list-style-type: none
        &__item
            padding: 12px 10px 12px 0
        &__link
            font-size: 14px
            letter-spacing: 0.04em
            text-decoration-line: underline
            color: #FFFFFF
            &:hover
                color: #fff
    &__current
        font-size: 15px
        line-height: 31px
        letter-spacing: 0.04em
        font-weight: 600
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 10px

.swiper
    &__wrapper
        max-width: 1240px
        padding: 0 20px
        margin: 0 auto
    &__carousel
    &__dots
        margin: 0
    &__arrow
        font-size: 18px
        color: #F68C9F
        margin-top: calc(35px -14px)
        background: #fff
        z-index: 10
    &__arrows
        display: flex
        justify-content: space-between
        position: absolute
        left: 0
        right: 0
        &-prev
        &-next
    &__slide
    &__container
        padding: 0 80px
        height: 65px
        display: flex
        align-items: center
        justify-content: space-between
    &__item
        flex-basis: 220px
        width: 220px
        margin-bottom: 0
        border: 0
        text-transform: uppercase
        font-weight: 600
        font-size: 15px
        line-height: 18px
        letter-spacing: 0.04em
        color: #F68C9F
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        padding: 0
        position: relative
        transition: all .3s ease
        &:hover
            background: #fff
            color: #1A1A1A
        &-icon
            position: relative
            bottom: 2px
            right: 2px
            color: #F68C9F
        &.active
            box-shadow: none
            color: #1A1A1A
            &::before
                content: ""
                position: absolute
                bottom: 0
                height: 3px
                background: #F68C9F
                left: 0
                right: 0

.slider
    background: url(../img/slider/slider-bg.jpg) no-repeat center
    background-size: cover
    &__wrapper
        max-width: 1240px
        padding: 20px
        margin: 0 auto

.slider-carousel
    &__item
        position: relative
        height: 193px
    &__img
        max-width: 100%
        height: 100%
        object-fit: cover
        border-radius: 5px
    &__btn
        position: absolute
        bottom: 30px
        left: 30px
        background: #f78c9f
        border: none
        outline: none
        min-width: 176.41px
        min-height: 40px
        border-radius: 4px
        letter-spacing: 1px
        color: #fff

.main
    background: #FFDDE4
    background-size: cover
    position: relative
    &__wrapper
        max-width: 1240px
        padding: 27px 20px 45px 20px
        margin: 0 auto
        min-height: 1000px
        display: flex
        flex-direction: column
        height: 100%
    &__img
        position: absolute
        bottom: 0
        left: 0
        right: 0
        height: 593px
        background: url(../img/main-bg.png) no-repeat center
        background-size: cover
    &__bottom
        padding-top: 50px
        position: relative
        z-index: 10
        margin-top: auto
        text-align: center

@import "header"
@import "modal"
@import "footer"
@import "media"