@import "part"
@import "normalize"
@import "libs"
@import "masonry"
@import "vars"
@import "fonts"

html
    scroll-behavior: smooth
    box-sizing: border-box

*, *::before, *::after
    box-sizing: border-box

body
    overflow-x: hidden
    font-family: $proxy
    font-weight: 400
    min-width: 375px
    min-height: 100vh
    margin: 0
    padding: 0
    opacity: 1
    visibility: visible
    position: relative

h1,h2,h3,h4,h5,h6,p
    margin: 0

a
    color: #1B1414
    transition: all .2s ease

a:hover
    color: #000000
    text-decoration: none

.body-container
    display: flex
    flex-direction: column
    &.disable-y
        overflow-y: hidden
    &.overlay
        position: relative
        &::before
            transition: all .3s ease
            content: ""
            position: absolute
            top: 0
            right: 0
            left: 0
            bottom: 0
            width: 100%
            height: 100%

.site
    &-title
        display: inline-flex
        align-items: center
        font-size: 30px
        &-heart
            font-size: 9px
            margin: 0 10px
        &.disabled
            display: none
    &-description
        text-transform: uppercase
        letter-spacing: 4px
        display: block
        font-size: 14px
        color: #1E1E1F

.main-navigation
    &.active
        position: fixed
        top: 0
        right: 0
        left: 0
        bottom: 0
        overflow-y: scroll
        z-index: 1000

.main-menu
    background: #fff
    &__wrapper
        height: 0
        transition: all .5s ease
        max-width: 1065px
        margin: 0 auto
        visibility: hidden
        opacity: 0
        &.active
            opacity: 1
            visibility: visible
            padding: 15px 20px 65px 20px
            height: 100%

.menu-list
    transition: all .3s ease
    margin-bottom: 0
    visibility: hidden
    &.active
        visibility: visible
    &__item
        padding: 13px 0
        border-bottom: 1px solid #E7E7E7
    &__link
        display: block
        font-size: 15px
        line-height: 31px
        letter-spacing: 0.04em
        color: #1E1E1F
        font-weight: 700
        &::after
            content: "\e80a"
            font-family: "fontello"
            color: #CFCFCF
            position: absolute
            margin-left: 10px
            border: none
            transition: all .3s ease
        &[aria-expanded="true"]::after
            transform: rotate(90deg)
    &__inner-list
    &__inner-item
    &__inner-link
        display: block

.profile-menu
    padding: 0
    margin: 0
    list-style-type: none
    &__item
        padding: 13px 0
        display: flex
        align-items: center
        border-bottom: 1px solid #E7E7E7
    &__title
        font-size: 15px
        line-height: 31px
        letter-spacing: 0.04em
        color: #1E1E1F
        font-weight: 700
        margin-right: auto
    &__mail
        font-size: 15px
        text-align: right
        letter-spacing: 0.04em
        color: #CFCFCF
        margin-right: 20px
    &__btn
        border: none
        outline: none
        background: transparent
        font-size: 14px
        text-align: right
        letter-spacing: 0.04em
        color: #f78c9f
        text-decoration: underline
    &__link
        margin-right: auto
        font-size: 15px
        line-height: 31px
        letter-spacing: 0.04em
        color: #1E1E1F
        font-weight: 700
        display: block
        width: 100%

.breadcrumbs
    background-color: #fcdce3
    &__wrapper
        max-width: 1065px
        padding: 0 20px
        margin: 0 auto
    &-nav
    &-list
        padding: 0
        margin: 0
        display: flex
        list-style-type: none
        &__item
            padding: 12px 0 12px 0
        &__link
            font-size: 14px
            letter-spacing: 0.04em
            color: rgb(26, 26, 26)
            text-decoration: underline
            position: relative
            padding-right: 13px
            &::after
                content: "/"
                top: 0
                right: 3px
                position: absolute
            &:hover
                color: rgb(26, 26, 26)
        &__item:last-child &__link
            padding-right: 0
        &__item:last-child &__link::after
            content: ""
    &__current
        font-size: 15px
        line-height: 31px
        letter-spacing: 0.04em
        font-weight: 700
        text-transform: uppercase
        color: #FFFFFF
        padding-bottom: 10px

.swiper
    &__wrapper
        max-width: 1065px
        padding: 0 20px
        margin: 0 auto

.swiper-carousel
    &--desktop
    &--mobile
        display: none !important
    &__slide
        display: flex
        justify-content: space-between
        align-items: center
        height: 65px
    &__item
        flex-basis: 220px
        width: 220px
        margin-bottom: 0
        border: 0
        text-transform: uppercase
        font-weight: 700
        font-size: 15px
        line-height: 18px
        letter-spacing: 0.04em
        color: #F68C9F
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        padding: 0
        position: relative
        transition: all .3s ease
        &::before
            content: ""
            position: absolute
            transition: all .3s ease
            bottom: 0
            left: 0
            right: 0
            height: 3px
        &.active::before
            background: #F68C9F
    &__icon
        color: #F68C9F
    &.owl-theme
        .owl-nav
            margin-top: 0
            position: absolute
            top: 0
            left: 0
            height: 20px
            right: 0
            display: flex
            justify-content: space-between
            [class*=owl-]
                position: relative
                top: 14px
                &:hover
                    background: transparent

.slider
    background: url(../img/slider/slider-bg.jpg) no-repeat center
    background-size: cover
    &--brands
        background: #ffdde4
    &__wrapper
        max-width: 1065px
        padding: 20px
        margin: 0 auto

.slider-carousel
    &__item
        position: relative
        height: 280px
        z-index: 100
        padding: 0 10px 10px 10px
    &__img
        max-width: 100%
        height: 100%
        object-fit: cover
        border-radius: 5px
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3)
    &__btn
        position: absolute
        bottom: 30px
        left: 30px
        background: #f78c9f
        border: none
        outline: none
        min-width: 176.41px
        min-height: 40px
        border-radius: 4px
        letter-spacing: 1px
        color: #fff
    &.owl-theme .owl-nav.disabled+.owl-dots
        margin-top: 20px
        display: none
        .owl-dot span
            background: #fff
            border: 1px solid #f78c9f
            transition: all .3s ease
        .owl-dot.active span
            border: 1px solid #fff
    &.owl-theme .owl-nav
        margin: 0
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: -50px
        right: -50px
        display: flex
        justify-content: space-between
        z-index: -1
    &.owl-theme .owl-nav [class*=owl-]
        margin: 0
        width: 40px
        height: 40px
        border-radius: 50%
        background: #eb849a
        color: #fff
        position: relative
        span
            font-size: 25px
            position: relative
            top: 2px

.error-page
    height: 100%
    &__wrapper
        height: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    &__title
        color: rgb(255, 229, 235)
        text-shadow: 0px 15px 29px rgba(0, 0, 0, 0.35)
        margin-bottom: 100px
        font-size: 300px
    &__descr
        font-size: 24px
        color: rgb(122, 95, 101)
        line-height: 1.2
        text-align: center
        margin-bottom: 75px
    &__btn
        font-size: 16px
        color: rgb(255, 255, 255)
        font-weight: bold
        text-transform: uppercase
        border-radius: 5px
        background-color: rgb(235, 132, 154)
        top: 736px
        min-width: 241px
        min-height: 43px
        display: flex
        justify-content: center
        align-items: center
        &:hover,
        &:focus
            color: rgb(255, 255, 255)
            background: $hoverpink

.main
    background: #FFDDE4
    position: relative
    &--search
        .main__wrapper
            height: 100vh
    &--error-page
        .main__wrapper
            height: 100vh
    &--basket
        background: #fff
        .main__wrapper
            min-height: 100%
    &__wrapper
        max-width: 1065px
        padding: 27px 20px 45px 20px
        margin: 0 auto
        display: flex
        flex-direction: column
        height: 100%
        min-height: 600px
        position: relative
        z-index: 10
    &__img
        position: absolute
        bottom: 0
        left: 0
        right: 0
        height: 593px
        background: url(../img/main-bg.png) no-repeat center
        background-size: cover
    &__bottom
        padding-top: 50px
        padding-bottom: 25px
        position: relative
        z-index: 10
        margin-top: auto
        text-align: center

    &__btn
        background: #f78c9f
        border: none
        outline: none
        min-width: 160px
        min-height: 35px
        border-radius: 4px
        display: block
        font-size: 14px
        font-weight: 700
        letter-spacing: 1px
        color: #fff
        text-transform: uppercase
        &-icon
            color: #fff

.main-filter
    &__wrapper
        padding: 15px
        border-radius: 5px
        background-color: rgb(255, 255, 255)
        display: flex
        flex-wrap: wrap
        align-items: center
    &__select2-group
        min-width: 210px
        margin-bottom: 15px
        margin-right: 35px
    .select2-container--default .select2-selection--single .select2-selection__arrow
        height: 100%
        right: 0
        justify-content: flex-end
        align-items: center
        justify-content: center
        content: "1"
        &::before
            position: absolute
            font-family: fontello
            content: "\e802"
            color: #aeaeae
    .select2-container--default .select2-selection--multiple .select2-selection__choice
        background: #ffdde4
        border: none
    .select2-container--default .select2-selection--multiple .select2-selection__choice
        position: relative
        padding-right: 25px
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 5px
        font-size: 22px
        color: #eb849a
    &__checkbox-group
    &__bottom
        flex-basis: 100%
        width: 100%
        display: flex
        align-items: center
    &__btn-submit
        min-width: 170px
        min-height: 35px
        line-height: 35px
        text-align: center
        border-radius: 5px
        background-color: rgb(235, 132, 154)
        font-size: 14px
        color: rgb(255, 255, 255)
        font-weight: bold
        text-transform: uppercase
        border: 0
        outline: 04
        margin-right: 35px
    &__btn-reset
        font-size: 14px
        color: rgb(235, 132, 154)
        text-decoration: underline
        line-height: 2.357
        text-align: center
        +reset-btn
    &__btn-hide
        font-size: 14px
        color: rgb(115, 115, 115)
        text-decoration: underline
        line-height: 2.357
        text-align: center
        margin-left: auto

.checkbox-group
    position: relative
    height: 35px
    &__input
        z-index: -1
        opacity: 0
        background: #fff
        box-sizing: border-box
        font-size: 11px
        width: 0
        &:focus
            + .checkbox-group__label
                &::before
                    border: 1px solid #007bff
        &:checked
            + .checkbox-group__label
                transition: all .5s ease
                color: #4B4B4B
                &::after
                    opacity: 1
                    visibility: visible
    &__label
        position: relative
        font-weight: 700
        font-size: 14px
        margin-bottom: 0
        color: #AEAEAE
        padding-right: 30px
        &::before
            content: ""
            position: absolute
            width: 18px
            height: 18px
            border: 1px solid #ADADAD
            box-sizing: border-box
            border-radius: 2px
            right: 0
            transition: all .2s ease
        &::after
            opacity: 0
            transition: all .2s ease
            visibility: hidden
            content: ""
            position: absolute
            width: 13px
            height: 13px
            background: #F78C9F
            box-sizing: border-box
            border-radius: 2px
            right: 2.5px
            top: 2.5px

.banner-info
    &__wrapper
        padding: 35px 80px 40px 75px
        max-width: 1065px
        border-radius: 5px
        background-color: rgb(255, 255, 255)
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3)
        margin-bottom: 30px
    &__img
        max-width: 100%
        height: auto
        width: 185px
        margin-right: 60px
        float: left
    &__title
        font-size: 24px
        color: rgb(26, 26, 26)
        line-height: 1.714
        text-align: left
    &__description
        font-size: 14px
        color: rgb(26, 26, 26)
        line-height: 1.714
        text-align: left

.filter-with-tags
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3)
    border-radius: 5px
    background-color: rgb(255, 255, 255)
    &__wrapper
        padding: 20px 15px 25px 30px
        margin-bottom: 10px
    &__current
        font-size: 16px
        color: rgb(26, 26, 26)
        font-weight: bold
        text-transform: uppercase
        line-height: 2.063
    &__tags
        display: flex
        flex-wrap: wrap
        align-items: center
    &__title
        font-size: 14px
        color: rgb(26, 26, 26)
        font-weight: bold
        text-decoration: underline
        margin-right: 16px
    &__tag
        font-size: 14px
        color: rgb(26, 26, 26)
        text-decoration: underline
        margin-right: 12px
    &__btn-show-more
        color: #f78c9f
        font-size: 14px
        font-weight: 400
        text-decoration: underline
        +reset-btn
    &__select2-group
        .select2-container
            min-width: 190px
        .select2-container--default .select2-selection--single .select2-selection__arrow
            height: 100%
            right: 0
            justify-content: flex-end
            align-items: center
            justify-content: center
            content: "1"
            &::before
                position: absolute
                font-family: fontello
                content: "\e802"
                color: #aeaeae
        .select2-container--default .select2-selection--single
            border: none
        .select2-container--default .select2-selection--single .select2-selection__rendered
            padding-left: 0

.mobile-filter
    &__wrapper
        display: flex
        align-items: center
        justify-content: space-between
        padding: 20px 0
    &__select2-group
        .select2-container--default .select2-selection--single
            border: none
            background: transparent
            font-weight: 700
        .select2-container--default .select2-selection--single .select2-selection__arrow
            height: 100%
            right: 0
            justify-content: flex-end
            align-items: center
            justify-content: center
            border: none
            &::before
                position: absolute
                font-family: fontello
                content: "\e802"
                color: #000
    &__btn
        font-size: 14px
        line-height: 29px
        display: flex
        align-items: center
        border: none
        outline: none
        min-width: 160px
        min-height: 30px
        text-align: center
        display: inline-block
        font-weight: 400
        letter-spacing: 0.04em
        text-transform: uppercase
        color: #FFFFFF
        background: #F78C9F
        border-radius: 4px

.products-list
    &__wrapper
        display: flex
        flex-wrap: wrap
        justify-content: center
        margin-bottom: 10px
        margin-left: -5px
        margin-right: -5px
    &__product
        margin: 0 5px 10px 5px
        border-radius: 5px
        flex-basis: 24%
        width: 24%

.product
    background: #FFFFFF
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25)
    transition: all .3s ease
    position: relative
    &__body
        padding: 15px 20px 17px 15px
        text-align: center
        display: flex
        flex-direction: column
        align-items: center
        position: relative
        overflow: hidden
        border-radius: 5px
        &::before
            content: attr(data-status)
            position: absolute
            top: 0
            right: 0
            width: 110px
            height: 24px
            line-height: 24px
            font-size: 14px
            font-weight: 400
            background: var(--bgColor)
            letter-spacing: 0.04em
            color: #fff
    &__footer
        padding: 15px 20px 17px 15px
        text-align: center
        position: absolute
        background: #fff
        left: 0
        right: 0
        bottom: -50px
        border-bottom-left-radius: 5px
        border-bottom-right-radius: 5px
        z-index: -1
        opacity: 0
        transition: all .3s ease
    &.focused
        .product__footer
            z-index: 10
            opacity: 1
            box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25)
    &:hover
        box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25)
        .product__footer
            z-index: 10
            opacity: 1
            box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25)
    &__link
    &__img
        height: 182px
        margin-bottom: 15px
        max-width: 100%
    &__name
        font-size: 14px
        line-height: 23px
        letter-spacing: 0.04em
        margin-bottom: 10px
        text-transform: uppercase
        font-weight: 700
        color: #F78C9F
    &__descr
        font-size: 16px
        line-height: 20px
        letter-spacing: 0.04em
        color: #1A1A1A
        max-width: 187px
        margin-bottom: 5px
    &__colors
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 5px
        &-color
            width: 9px
            height: 9px
            border-radius: 50%
            margin: 0 6px
            background: currentColor
    &__tag
        font-size: 12px
        line-height: 15px
        text-align: center
        letter-spacing: 0.04em
        text-transform: uppercase
        color: #AEAEAE
        padding-bottom: 5px
    &__price
        font-size: 16px
        line-height: 22px
        letter-spacing: 0.04em
        color: #1A1A1A
        font-weight: 700
    &__btn-empty
        font-size: 12px
        line-height: 18px
        letter-spacing: 0.04em
        text-decoration-line: underline
        color: #4A71FF
        background: transparent
        border: none
        outline: none
    &__btn-add
        background: #F78C9F
        border-radius: 4px
        font-size: 14px
        border: none
        min-width: 140px
        max-height: 30px
        line-height: 30px
        outline: none
        letter-spacing: 0.04em
        text-transform: uppercase
        color: #FFFFFF
        white-space: nowrap
        text-align: center
        &.added
            font-size: 11px
            background: #C9C9C9

.products-pagination
    border-radius: 5px
    background-color: rgb(255, 255, 255)
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3)
    &__wrapper
        padding: 15px 0
        display: flex
        flex-direction: column
        align-items: center
    &__status
        font-size: 15px
        line-height: 22px
        text-align: center
        letter-spacing: 0.04em
        color: #8f8f8f
        font-weight: 400
        padding-bottom: 20px
    &__status-current
    &__status-all
    &__list
        display: inline-flex
        justify-content: center
        align-items: center
        +reset-ul
    &__item
        &-arrow .products-pagination__link
            border-bottom: 0
            color: #f78c9f
        &.disabled
            display: none
        &.active
            .products-pagination__link
                position: relative
                border-bottom: 0
                &::before
                    content: ""
                    position: absolute
                    border: 1.5px solid #f78c9f
                    border-radius: 50%
                    width: 25px
                    height: 25px
                    top: 50%
                    right: 50%
                    transform: translate(50%, -50%)
    &__link
        font-size: 18px
        line-height: 26px
        text-align: center
        letter-spacing: 0.04em
        color: #f78c9f
        display: inline-block
        margin: 0 10px
        border-bottom: 1px solid #f78c9f

.grid-ex
    display: flex
    justify-content: center
    position: relative
    &__layout
        flex-basis: 30%
        width: 30%
        margin: 0 10px 0 0
    &__item
        margin: 0 0 20px 0
        width: 100%

.grid-images
    &__wrapper
        display: flex
        justify-content: space-between
    &__layout
        flex-basis: 24%
        width: 24%
    &__head
        position: relative
        transition: all .3s ease
        &-wrapper
            display: flex
            justify-content: space-between
            text-align: center
            height: 60px
            max-width: 1065px
            margin: 0 auto
        &.fixed
            top: 74px
            left: 0
            right: 0
            position: fixed
            z-index: 100
            background: #eb849a
            .grid-images__title
                background: transparent
            .grid-images__head-wrapper
                padding: 0 20px
            .grid-images__link
                color: #fff
                font-weight: 700
                padding-left: 0
            .grid-images__link::before
                content: ""
    &__title
        flex-basis: 24%
        width: 24%
        border-top-left-radius: 5px
        border-top-right-radius: 5px
        background: #fde8ed
        color: rgb(26, 26, 26)
        display: flex
        align-items: center
        justify-content: center
    &__link
        padding-left: 45px
        font-size: 14px
        position: relative
        transition: all .5s
        &::before
            top: 50%
            transform: translateY(-50%)
            left: 0
            color: #edadbb
        &-news::before
            position: absolute
            content: "\e80f"
            font-family: "fontello"
            font-size: 23px
        &-must-have::before
            position: absolute
            content: "\e806"
            font-family: "fontello"
            font-size: 23px
            left: 0
            color: #edadbb
        &-hits::before
            position: absolute
            content: "\e844"
            font-family: "fontello"
            font-size: 23px
            left: 0
            color: #edadbb
        &-promo::before
            position: absolute
            content: "\f295"
            font-family: "fontello"
            font-size: 23px
            left: 0
            color: #edadbb
    &__item
        display: block
        margin-bottom: 10px
        border-radius: 5px
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3)
        position: relative
        z-index: 10
    &__img
        border-radius: 5px
        display: block
        max-width: 100%
        width: 100%
        height: auto

.search
    height: 100%
    &__wrapper
        height: 100%
        border-radius: 5px
        background-color: rgb(255, 255, 255)
    &__head
        padding: 45px 20px 20px 20px
        position: relative
        &::before
            content: ""
            position: absolute
            bottom: 0
            right: 0
            left: 0
            width: 100%
            height: 1px
            background: #c4c4c4
    &__title
        font-size: 16px
        color: rgb(26, 26, 26)
        font-weight: bold
        text-transform: uppercase
        line-height: 2.063
        text-align: left
    &__result
        font-size: 14px
        color: rgb(26, 26, 26)
        line-height: 1.714
        text-align: left
    &__body
        padding: 30px 20px 20px 20px
    &__description
        font-size: 14px
        color: rgb(26, 26, 26)
        line-height: 1.714
        text-align: center

.brands
    border-radius: 5px
    background-color: rgb(255, 255, 255)
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3)
    display: flex
    flex-wrap: wrap
    +reset-ul
    &__item
        flex-basis: 100%
        width: 100%
        display: flex
        border-bottom: 1px solid #adadad
        padding: 40px 40px 25px 40px
    &__letter
        font-size: 45.319px
        color: rgb(222, 139, 157)
        display: flex
        align-items: flex-start
        justify-content: flex-start
        flex-basis: 24%
        width: 24%
        &:hover,
        &:focus
            color: $hoverpink
    &__result-list
        column-count: 3
        flex-grow: 1
        +reset-ul

.result-list
    &__item
    &__link
        display: block
        width: 100%
        padding-bottom: 15px
        position: relative
        transition: all .3s ease
        &:hover,
        &:focus
            transform: translateX(2px)

@import "header"
@import "modal"
@import "basket-and-profile"
@import "user-data"
@import "footer"
@import "media"